@charset "UTF-8";
/*@import "variables";

.container-fluid {
    background-color: $colorverde;
    h2 {
        border: solid 2px blue;
    }
}

footer .container-fluid {
    background-color: $colorverde;
}

section .container-fluid {
    background-color: green;
    &:hover{
        background-color: yellow !important;
    }
}
*/
.navbar-expand-lg {
  display: inline;
}

.navbar-expand-lg .container-fluid .navbar-brand {
  font-family: "Lobster";
}

.navbar-expand-lg .container-fluid .wf-menu {
  z-index: 99;
}

.navbar-expand-lg {
  background-color: #f2ff80;
  --bs-navbar-padding-y: 0.1rem;
}

.navbar-expand-lg .container-fluid {
  height: 7em;
  align-items: center;
  padding: auto;
}

.navbar-expand-lg .container-fluid .navbar-brand {
  font-family: "Lobster";
  font-weight: 500;
}

.navbar-expand-lg .container-fluid .navbar-collapse {
  height: 5em;
}

.navbar-expand-lg .container-fluid .navbar-nav .nav-item .nav-link {
  font-family: "Manrope";
}

.navbar-expand-lg .container-fluid .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-family: "Manrope";
  font-weight: 200;
  font-size: small;
}

body {
  margin: 0;
}

.wf-sect {
  width: 100%;
  min-height: 300px;
}

#wf-sect1 {
  width: 100%;
  color: #eeeaea;
  position: relative;
  overflow: hidden;
  /*aunque saque o ponga esta propiedad la letra del texto no responde al contenedor en responsive*/
  width: 100%;
  height: 300px;
  padding-bottom: 30%;
}

#wf-sect1 .video1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

#wf-sect1 .wf-containerTexto {
  display: inline;
}

#wf-sect1 .wf-containerTexto .textoInicial {
  display: flex;
  justify-content: center;
  font-family: "Manrope";
  z-index: 1;
  margin: 1em;
  max-width: 250em;
}

#wf-sect1 .wf-containerTexto .descripcionInicial {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-family: "Manrope";
  padding: 1em;
}

.busquedaTema2 {
  color: white;
  border: 2px solid grey;
  border-radius: 15px 50px;
  padding: 13px;
  opacity: 0.7;
}

#wf-sect2 {
  display: flex;
  justify-content: center;
  background-color: #fbf3f3;
  height: 400px;
  margin: 0.5em;
}

#wf-sect2 .presentacion {
  color: black;
  font-family: "Manrope";
  margin: 0;
  padding: 1em;
  font-size: 2em;
}

#wf-sect3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  max-height: 150px;
}

#wf-sect3 .video2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

#wf-sect3 .wf-containerTexto3 {
  display: inline;
}

#wf-sect3 .wf-containerTexto3 .wf-tituloSect3 {
  display: flex;
  color: #e43b3b;
  justify-content: center;
  font-family: "Manrope";
  z-index: 1;
  margin: 1em;
  max-width: 250em;
}

#wf-sect3 .wf-flex-descripcionInicial3 {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  font-family: "Manrope";
  padding: 1em;
  margin-top: 8em;
}

#wf-sect3 .wf-flex-descripcionInicial3 .busquedaTema {
  color: white;
  border: 2px solid grey;
  border-radius: 15px 50px;
  padding: 13px;
  opacity: 0.7;
}

.wf-containerTarjetas {
  margin: 1.5em;
}

.wf-containerTarjetas .wf-btn-black {
  background-color: black;
  border-color: black;
}

.wf-btn-instagram {
  background-color: #ca3c3c;
  border-color: #ca3c3c;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

#botonCarrito {
  border: none;
  color: rgb(13, 14, 17);
  font-size: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all .3s;
}
#botonCarrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(13, 13, 15);
}
#botonCarrito:focus {
  outline: none;
}
#vaciar-carrito {
  font-size: 1em;
}
#vaciar-resultado{
  font-size: 1em;
}

/*
#wf-sect1 {
  width: 100%;
  color: rgb(238, 234, 234);
  position: absolute;
  overflow: hidden; /*aunque saque o ponga esta propiedad la letra del texto no responde al contenedor en responsive
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  .video1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .containerTexto {
    display: inline;

    .textoInicial {
      display: flex;
      justify-content: center;
      font-family: "Manrope";
      z-index: 1;
      max-width: 250em;
    }
    .descripcionInicial {
      display: flex;
      justify-content: center;
      font-family: "Manrope";
      padding-right: 2rem;
      padding-bottom: 2em;
    }
    #wf-sect2 .presentacion {
      color: "000";
    }
    #wf-sect2 {
      display: flex;
      justify-content: center;
      background-color: rgb(238, 232, 232);
      height: 300px;
    }
    .presentacion {
      color: black;
      font-family: "Manrope";
      margin: 0;
      padding-top: 3rem;
      padding-left: 2rem;
      padding-bottom: 2em;
      font-size: 2em;
    }
  }
}
#sect3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  max-height: 150px;
  .video2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /*no consigo que estos ítems se coloquen en el centro abajo y de manera horizontal.
    z-index: 2;
    width: 100%;
    margin-top: 15px;
    line-height: 2.5;
    text-align: center;
  }
  .busquedaTema {
    color: white;
  }
}
/* este compilador no está andando*/
