
*{
    margin: 5;
    padding: 1;
}
.html {
    font-size: 62.5%;
    width: 100%;
}
/*body {
    margin-top: auto;
    background-image: linear-gradient(#49a4ee, #69ade9, #e0f0ff);
  }*/
  .navbar-brand {
      color: white;
  }
.presentación__frase1 {
    padding-left: 5%;
    color: #f3f5f7;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    /* Acá está aplicando los dos? Noto y Open sans? o es el mismo link para esa tipografía? */
  }

.lead {
    margin-top: 0.10cm;
    margin-left:0.5cm;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}
.mt-6 {
    margin-top: 1cm;
    margin-left: 2.5cm;
}

.desarrollo__titulo {
    text-align: center;
    font-weight: bold;
}
.desarrollo__frase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    font-size: 18px;
    margin: 1% 10% 1%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 .juntos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
 }
 .twitter .facebook .instagram .fraseSeguinos .fraseSeguinos .frasefinal {
    border: solid 2px rgb(12, 21, 39);
     }
     .twitter {
         grid-area:twitter;
         max-width: 100%;
         max-height: 100%;
     }
     .facebook {
         grid-area: facebook;
         max-width: 100%;
         max-height: 100%;
     } 
       .instagram {
           grid-area: instagram;
           max-width: 100%;
           max-height: 100%;
       } 
       .fraseSeguinos {
           grid-area: fraseSeguinos;
           max-width: 100%;
           max-height: 100%;
       }
       .frasefinal {
           grid-area: frasefinal;
           max-width: 100%;
           max-height: 100%;
       }
 .footerPie {
     display: grid;
     grid-template-rows: auto auto auto;
     grid-template-columns: auto auto auto;
     grid-row-gap: 5px;
     grid-column-gap: 5px;
     justify-items: center;
     grid-template-areas: 
     "fraseSeguinos fraseSeguinos fraseSeguinos"
     " twitter facebook instagram"
     "frasefinal frasefinal frasefinal";
 }


    /* empieza Catálogo----------------------------------------------*/


  .Catalogo__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content:space-around;
    background-color: yellow;
    border: solid 1px;
    padding: 20px;
    justify-content: space-between;

  }
  .Catalogo__Caja {
      background-color: white;
      border: solid 2px;
      color: black;
      width: 120px;
      height: 120px;
      line-height: 100px;
      justify-content: center;
      text-align: center;
      margin: 5px;
  }
  .Container__ArticleAside {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: flex-end; /* No me termina de aplicar esta propiedad: se usa para alinear las cajas transversalmente cuando hay más de una línea de espacio*/
      background-color: olive;
      text-align: center;
      padding: 15px;
      width: 100%;
      height: 100%;
      
  }
  .Container__Article {
      background-color: rgb(0, 119, 255);
      border: solid 2px;
      width: 500px;
      height: 500px;
      justify-content: center;
      margin: 5px;
      flex-grow: 2;
      flex-basis: 40%;
      }
      .Container__Aside {
        background-color: greenyellow;
        border: solid 2px;
        width: 400px;
        height: 250px;
        margin: 5px;
        flex-grow: 1;
      }
 .Catalogo__footer {
     background-color: violet;
     border: solid 4px;
     text-align: center;
     width: 100%;
     height: 50px;
     margin: 6px;
 }
    /* empieza página GRID Firs MOBILE------------------------------------------*/

    /* COMMON STYLES */

    @media screen and (max-width: 768px) and (max-width: 959px) {

        ul li{
            list-style:none;
            display: inline; 
            font-size: 12px;
            
            }
         ul {
            display: flex;
            justify-content: space-evenly;
            margin: 0.35em;
            padding: 0.35em;
            list-style-type: disc;
            margin-block-start: 0;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
           
        }
        img {
            width: 8em;
            height: 8em;
            background-color: rgb(200, 236, 163);
            max-width: 100%;
            display: flex;
            justify-content: center;
                    }
    
       header {
               grid-area: header;
               background-color: rgb(83, 125, 241);
               border-radius: 10em;
        }
        nav {
            grid-area: nav;
            background-color: rgb(223, 155, 67);
            width: 90%;
            border: 0.3em solid rgb(216, 248, 102);
            display: inline;                    
        }
        aside {
            grid-area: aside;
            background-color: rgb(140, 139, 224);
            width: 90%;
            border: 0.3em solid rgb(248, 202, 102);
            display: inline;
        }
                    
        section {
            grid-area: section;
            background-color: rgb(219, 217, 79);
        }
        
        footer {
            grid-area: footer;
            background-color: rgb(105, 209, 209);
        }

        .container_grid {
            display: grid;
            background-color: rgb(89, 171, 238);
            grid-template-columns: auto auto;
            grid-template-rows: repeat(5, auto);
            grid-row-gap: 0.3em;
            grid-column-gap: 0.3em;
            grid-template-areas: 
            "header header"
            "nav nav"
            "aside aside"
            "section section"
            "footer footer"; 
            justify-items: center;
        }   
        .article {
            grid-area: article;
        }
        .dale {
            display: grid;
            background-color: rgb(144, 161, 240);
            width: 95%;
            justify-items: stretch;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(5, 2fr);
            grid-column-gap: 0.4em;
            grid-row-gap: 0.4em;
            grid-template-areas: 
            "article article"
            "article article"
            "article article"
            "article article"
            "article article"
           }
           article {
            display: grid;
            justify-content: center;
            border: 0.3em solid darkblue;
            justify-items: center;
            align-content: center;
            padding: 0.3em;
           }
    }    
           /* GRID Empieza la segunda parte responsive --------------------------------------- */

        @media screen and (min-width: 768px) and (max-width: 1200px) {

            .GridBody {
                background-color: coral;
            }
  
            ul li{
                list-style:none;
                display: inline; 
                font-size: 12px;
                                }
             ul {
                display: flex;
                justify-content: space-evenly;
                margin: 0.35em;
                padding: 0.35em;
                list-style-type: disc;
                margin-block-start: 0;
                margin-block-end: 0em;
                margin-inline-start: 0em;
                margin-inline-end: 0em;
                padding-inline-start: 0em;
                
            }
            img {
                width: 8em;
                height: 8em;
                background-color: rgb(200, 236, 163);
                max-width: 100%;
                display: flex;
                justify-content: center;
                        }
        
           header {
                   grid-area: header;
                   background-color: rgb(83, 125, 241);
                   border-radius: 10em;
            }
            nav{
                grid-area: nav;
                background-color: rgb(248, 213, 157);
                width: 90%;
                border: 0.3em solid rgb(216, 248, 102);
                display: inline;
            }

            /*aside {
                grid-area: aside;
                background-color: rgb(140, 139, 224);
                width: 90%;
                border: 0.3em solid rgb(248, 202, 102);
                display: inline;
                
                
            } */
            aside {
                display: none;
            }          
                    
            section {
                grid-area: section;
                background-color: rgb(219, 217, 79);
            }
            
            footer {
                grid-area: footer;
                background-color: rgb(105, 209, 209);
            }
    
            .container_grid {
                display: grid;
                background-color: rgb(89, 171, 238);
                grid-template-columns: auto;
                grid-template-rows: repeat(5, auto);
                grid-row-gap: 0.3em;
                grid-column-gap: 0.3em;
                grid-template-areas: 
                "header"
                "nav"
                "aside"
                "section"
                "footer"; 
                justify-items: center;
            }   
            .article {
                grid-area: article;
            }
            .dale {
                display: grid;
                background-color: rgb(182, 221, 243);
                width: 95%;
                justify-items: stretch;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: repeat(3, 2fr);
                grid-column-gap: 0.4em;
                grid-row-gap: 0.4em;
                grid-template-areas: 
                "article article article article "
                "article article article article"
                "article article article article"
       
               }
               article {
                display: grid;
                justify-content: center;
                border: 0.3em solid darkblue;
                justify-items: center;
                align-content: center;
                padding: 0.3em;
               }

        }

               /* GRID Empieza la Tercera parte responsive and (max-width: 1200px) --------------------------------------- */

           @media screen and (min-width: 1200px) {

            .GridBody {
                background-color: coral;
            }
            ul li{
                list-style:none;
                display: inline; 
                font-size: 12px;
                }
            li {
                animation-duration: 2s;
                animation-name: aparecer;
                animation-iteration-count: infinite;
                }
            @keyframes aparecer {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }


             ul {
                display: flex;
                justify-content: space-evenly;
                margin: 0.35em;
                padding: 0.35em;
                list-style-type: disc;
                margin-block-start: 0;
                margin-block-end: 0em;
                margin-inline-start: 0em;
                margin-inline-end: 0em;
                padding-inline-start: 0em;
                
            }
            img {
                width: 8em;
                height: 8em;
                max-width: 100%;
                display: flex;
                justify-content: center;
                transition-delay: width 4s; /* este tiempo de transition no funciona*/
                }
                
            img:hover { 
                width: 6em;  
                height: 6em;
                }
                
           header {
                   grid-area: header;
                   background-color: rgb(83, 125, 241);
                   border-radius: 3em;
                   transition: all 4s; /*no anda el transition*/

            }
            header:hover { 
                    width: 14em;  
                    height: 2em;
                    background-color: rgb(224, 240, 193);
                    display: flex;
                    justify-content: center;
                    align-items:center;
            }
            nav{
                grid-area: nav;
                background-color: rgb(248, 213, 157);
                width: 90%;
                border: 0.3em solid rgb(216, 248, 102);
                display: inline;
            }
            aside {
                grid-area: aside;
                background-color: rgb(214, 163, 174);
                width: 90%;
                border: 0.3em solid rgb(102, 236, 248);
                display: inline;  /* que onda esto? Acá pareciera que tengo que colocar display: inline para que me agarre el flex (o el justify content: space evenly) de los hijos*/
                justify-content: space-between;
            }     
            
            /* aside:focus {
                width: 120%;

            } Este focus no funcionó */
                    
            section {
                grid-area: section;
                background:linear-gradient(to right, rgb(185, 185, 230), rgb(59, 101, 190));  
            }
            
            footer {
                grid-area: footer;
                background-color: rgb(107, 105, 209);
            }
    
            .container_grid {
                display: grid;
                background:linear-gradient(to left, rgb(185, 185, 230), rgb(59, 101, 190)); ; 
                grid-template-columns: auto;
                grid-template-rows: repeat(5, auto);
                grid-row-gap: 0.3em;
                grid-column-gap: 0.3em;
                grid-template-areas: 
                "header"
                "nav"
                "aside"
                "section"
                "footer"; 
                justify-items: center;
            }   
            .article {
                grid-area: article;
            }
            .dale {
                display: grid;
                background-color: linear-gradient (to right, rgb(162, 188, 230), rgb(18, 59, 134) );
                width: 95%;
                justify-items: stretch;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: repeat(3, 2fr);
                grid-column-gap: 0.4em;
                grid-row-gap: 0.4em;
                grid-template-areas: 
                "article article article article "
                "article article article article"
                "article article article article"
               }
               .article {
                display: grid;
                justify-content: center;
                border: 0.3em solid darkblue;
                justify-items: center;
                align-content: center;
                padding: 0.3em;
               }
            





        }


        /*
                .publicidad {
            grid-area: publicidad;
        .GridBody{
            margin-top: auto;
            background-color: rgb(157, 229, 202);
            max-width: 100%;
            /*linear-gradient(rgb(98, 207, 107), rgb(240, 240, 113), rgb(69, 118, 182));*/
        



    

/*
    .img {
        max-width: 100%;
        width: 200rem;
        height: 150rem;
    }
    ul {
        list-style:none 
         
     }

    @media (min-width: 768px) {
        .grid3 {
            grid-area: grid3;
            background-color: rgb(79, 117, 221);
            display: flex;
            justify-items: stretch;
            align-items: stretch;
        }
        .grid4 {
            grid-area: grid4;
            background-color: rgb(74, 179, 138);
        }
        .grid5 {
            grid-area: grid5;
        }
        .container_grid {
            display: grid;
            grid-template-columns: 20% auto;
            grid-template-rows: auto auto auto;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            grid-template-areas: "grid3 grid4 grid4" "grid5 grid5 grid5"; 
            align-items: center;  
            justify-items: center;
        }
    }
    */
    /* no aplica bien el media queri -----------------------------
    @media screen and (min-width: 992px) {
 
        .grid3 {
            grid-area: grid3;
            background-color: rgb(79, 117, 221);
            display: flex;
            justify-items: stretch;
            align-items: stretch;
        }
        .grid4 {
            grid-area: grid4;
            background-color: rgb(223, 183, 55);
        }
        .grid5 {
            grid-area: grid5;
        }
        .container_grid {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            grid-template-areas: "grid1 grid1 grid1 grid1" "grid2 grid2 grid2 grid2" "grid3 grid3 grid3 grid3" "grid4 grid4 grid4 grid4"; 
            align-items: center;  
            justify-items: center;
        }
    }


.grid4 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items:center;
}
.publicidad {
    justify-self:center;
    align-self:center;
}

*/